#napaka_p {
	display:none;
	position:absolute;
	margin: 5px 0px 0px 30px;
	padding: 10px;
	background: #7d7d7d url(../images/gradient.png) repeat-x 0 -130px;
	line-height: 100%;

	border-radius: 2em;
	-webkit-border-radius: 2em;
	-moz-border-radius: 2em;

	-webkit-box-shadow: 0 1px 3px rgba(0,0,0, .4);
	-moz-box-shadow: 0 1px 3px rgba(0,0,0, .4);
	
	vertical-align:middle;
	width:300px;
}

#napaka_text_p {
	background:url(../images/klicaj.png) no-repeat 10px 5px #FFF;
	font-size:14px;
	font-weight:500;
	color:#7E7E7E;
	position:relative;
	margin: 0 auto;
	padding: 10px 10px 10px 40px;
	border-radius: 2em;
	-webkit-border-radius: 2em;
	-moz-border-radius: 2em;

	-webkit-box-shadow: 0 1px 3px rgba(0,0,0, .4);
	-moz-box-shadow: 0 1px 3px rgba(0,0,0, .4);
	
	vertical-align:middle;
	width:250px;
}